.grid-container {
  /* margin: 5px; */
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  /* gap: 5px; */
}

.grid-items {
  width: 200px;
  justify-content: center;
  align-items: center;

  border: 1px solid gray;
  /* color: black; */
  /* font-weight: 800; */
  /* font-style: italic; */
  /* padding: 5px; */
  /* font-size: 20px; */
  text-align: center;
}
